<section class="page-section" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">About</h2>
            <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
        </div>
        <ul class="timeline">
            <li>
                <div class="timeline-image"></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Desember 2017- Oktober 2019</h4>
                        <h4 class="subheading">Web Developer di PT. Crossnetwork Indonesia</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Pertamakali terjun sebagai professional software developer. Membangun software - software internal maupun external, memaintanance server dan membantu pengorasian aplikasi.</p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Desember 2019 - Februari 2020</h4>
                        <h4 class="subheading">Android developer di Zevitsoft</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Bekerja sebagai pengembang aplikasi android dengan tanggung jawab membangun apliasi client seperti aplikasi POS pada salah satu Resto di Yogyakarta dan membantu dalam penggunaannya.</p></div>
                </div>
            </li>
            <li>
                <div class="timeline-image"></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Januari 2020 -  Sekarang</h4>
                        <h4 class="subheading">Software Engineer di Qwork Malaysia</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Bekerja sebagai sofware engineer untuk menangani perancangan system software, pengembangan API dan juga melakukan research dalam menunjang kebutuhan perusahaan.</p></div>
                </div>
            </li>
            <!-- <li class="timeline-inverted">
                <div class="timeline-image">
                    <h4>
                        Be Part
                        <br />
                        Of Our
                        <br />
                        Story!
                    </h4>
                </div>
            </li> -->
        </ul>
    </div>
</section>