<section class="page-section" id="contact">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Contact Us</h2>
            <h3 class="section-subheading text-muted">Yuk berkenalan lebih lanjut</h3>
        </div>
        <!-- * * * * * * * * * * * * * * *-->
        <!-- * * SB Forms Contact Form * *-->
        <!-- * * * * * * * * * * * * * * *-->
        <!-- This form is pre-integrated with SB Forms.-->
        <!-- To make this form functional, sign up at-->
        <!-- https://startbootstrap.com/solution/contact-forms-->
        <!-- to get an API token!-->
       
        <div class="col-md-4 offset-md-4 d-grid"><a href="https://wa.me/+6285156614335" class="btn btn-primary btn-xl text-uppercase btn-block" id="submitButton" type="submit">Send Message</a></div>
    </div>
</section>