<section class="page-section" id="services">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Services</h2>
            <h3 class="section-subheading text-muted">Kami menyediakan beberapa Jasa Sebagai berikut</h3>
        </div>
        <div class="row text-center">
            <div class="col-md-6">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Konsultan dan Pembuatan Software</h4>
                <p class="text-muted">Kami telah memiliki pengalaman lebih dari 5 tahun dalam pembuatan aplikasi mulai dari aplikasi berbasis web, android dan desktop. Kami terbuka untuk mendiskusi apa kebutuhan anda.</p>
            </div>
            <div class="col-md-6">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Jasa Sewa Sound system dan Alat band</h4>
                <p class="text-muted">Selain bergerak dibidang IT, kami juga mempunyai jasa penyewaan sound system khususnya daerah gorontalo dan kotamobagu. Alat yang kami miliki mulai dari alat band, microphone, dan lain sebagainya ditunjang kemampuan sound system 1500 watt sampai 5000 watt</p>
            </div>
        </div>
    </div>
</section>